<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="header">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Material Design fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" type="text/css"
          href="static/material/css/bootstrap-material-design.min.css"
          th:href="@{/material/css/bootstrap-material-design.min.css}"/>
    <link rel="stylesheet" type="text/css"
          href="static/material/css/ripples.min.css"
          th:href="@{/material/css/ripples.min.css}"/>

    <link href="https://cdn.bootcss.com/snackbarjs/1.1.0/snackbar.min.css" rel="stylesheet"/>

    <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="static/material/js/material.min.js" th:src="@{/material/js/material.min.js}"></script>
    <script src="static/material/js/ripples.min.js" th:src="@{/material/js/ripples.min.js}"></script>

    <script src="https://cdn.bootcss.com/snackbarjs/1.1.0/snackbar.min.js"></script>
    <script src="https://cdn.bootcss.com/noUiSlider/6.2.0/jquery.nouislider.min.js"></script>

    <link rel="stylesheet" type="text/css"
          href="static/css/app.min.css"
          th:href="@{/css/app.min.css}"/>

    <script src="https://cdn.bootcss.com/echarts/3.3.1/echarts.min.js"></script>
    <script src="https://cdn.bootcss.com/d3/3.5.15/d3.min.js"></script>
    <script src="https://cdn.bootcss.com/d3plus/1.9.8/d3plus.min.js"></script>
</head>
<body>

</body>
</html>