<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <object th:include="components/header :: header" th:remove="tag"/>
</head>
<body>
<div th:include="components/navbar :: navbar"/>
<div class="container">
    <div class="jumbotron">
        <h1>Jumbotron</h1>

        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured
            content or
            information.</p>

        <p><a class="btn btn-primary btn-lg">Learn more</a></p>
    </div>
</div>
</body>
</html>